.searchContainer{
    padding-top: 20px;
    text-align: center;
}

.searchContainer label {
    color: #05a288;
}

.searchDescription{
    color: darkgray;
    font-style: italic;
    font-weight: 500;
}

.searchRepository{
    font-size: 24px !important;
}

.repositorySearchControl > li > a {
    font-size: 18px !important;
}

.dropdown-menu {
    width: 100%;
    white-space: normal;
}

.dropdown-menu>li>a {
    font-size: 22px !important;
}

.closeDropDown{
    float: right;
    padding-right: 5px !important;
}

.searchContainer input[type="button"]{
    background-color: #05a288;
    color: white;
}