<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Git Hub Analizer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <object th:replace="fragments/common :: common-bootstrap-css" th:remove="tag"></object>
    <object th:replace="fragments/common :: loading-css" th:remove="tag"></object>
    <object th:replace="fragments/common :: common-css" th:remove="tag"></object>
    <object th:replace="fragments/search :: repositorySearchControl-css" th:remove="tag"></object>

    <object th:replace="fragments/common :: common-bootstrap-js" th:remove="tag"></object>
    <object th:replace="fragments/common :: common-js" th:remove="tag"></object>
    <object th:replace="fragments/common :: common-react" th:remove="tag"></object>
    <object th:replace="fragments/common :: common-notify-js"></object>
    <object th:replace="fragments/search :: repositorySearchControl-js" th:remove="tag"></object>
</head>
<body>
    <div th:replace="fragments/search :: repositorySearchControl" th:remove="tag"/>
</body>
</html>